@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", "sans-serif";
}

h1 {
  letter-spacing: 1px;
}

h2 {
  padding-top: 20px;
  font-size: 25px;
}

h3 {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin: 15px 0;
}

h4 {
  font-size: 15px;
  text-transform: uppercase;
}

.delete-btn:focus,
.btn:focus {
  outline: 0;
}

.container {
  width: 350px;
  margin: 40px;
}

.inc-exp-container {
  background: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  padding: 15px;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #ccc;
}

.inc-exp-container p {
  font-size: 20px;
  font-weight: lighter;
}

.money {
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

.list {
  list-style-type: none;
}

.list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px 20px;
  position: relative;
  box-shadow: var(--box-shadow);
  border-radius: 3px;
}

li.plus {
  border-right: 3px solid #2ecc71;
}

li.minus {
  border-right: 3px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, 20%);
  background-color: #c0392b;
  color: #fff;
  padding: 3px;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  opacity: 0;
}

li:hover .delete-btn {
  opacity: 1;
  transition: 0.3s ease;
}

.form-control label {
  display: inline-block;
}

.form-control input {
  display: block;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.btn {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  background-color: #9c88ff;
  color: #fff;
  border: none;
  border-radius: 3px;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
